<%= simple_form_for(@url, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :link, :as => :string %> 
    <%= f.input :shortened, :label => "chse.me/", :hint => clippy("http://chse.me/#{@url.shortened}").html_safe %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Shorten URL & Return" %>
  </div>
<% end %>
