<h1>Listing URLs</h1> ( <%= link_to 'New Url', new_url_path %> )

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Shortened</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @urls.each do |url| %>
  <tr>
    <td><%= link_to "http://chse.me/#{url.shortened}", "#{request.scheme}://#{request.host_with_port}/#{url.shortened}" %></td>
    <td><%= link_to url.link, url.link %></td>
    <td><%= link_to 'Show', url %></td>
    <td><%= link_to 'Edit', edit_url_path(url) %></td>
    <td><%= link_to 'Destroy', url, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


